<div class="page-container site-page">


    <div class="grid">

        <div class="grid__item large--two-thirds push--large--one-sixth">

            <h1>{{ page.title }}</h1>

            <div class="page-content">
                {% comment %}
                Regular page content goes here.
                {% endcomment %}
                <div class="rte">
                    {{ page.content }}
                </div>

                {% comment %}
                Contact form starts here
                {% endcomment %}










                {%
  if section.settings.twitter != blank
  or section.settings.facebook != blank
  or section.settings.whatsapp != blank
%}
                <div class="contact-social-media">
                    {% if section.settings.twitter != blank %}
                    {% assign screen_name = section.settings.twitter | replace: '@', '' | escape %}
                    <a class="contact-social-media-button"
                        href="https://twitter.com/intent/tweet?screen_name={{ screen_name }}" target="_blank">
                        {%
          render 'icons',
          id: 'twitter'
        %}
                        <span>{{ 'contact.general.twitter' | t: screen_name: screen_name }}</span>
                    </a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    {% endif %}

                    {% if section.settings.facebook != blank %}
                    <a class="contact-social-media-button" href="{{ section.settings.facebook | escape }}"
                        target="_blank">
                        {%
          render 'icons',
          id: 'facebook_messenger'
        %}
                        <span>{{ 'contact.general.facebook_messenger' | t }}</span>
                    </a>
                    {% endif %}

                    {% if section.settings.whatsapp != blank %}
                    {%- assign telephone = section.settings.whatsapp
        | escape
        | replace: ' ', ''
        | replace: '+', ''
        | replace: '-', ''
        | replace: '(', ''
        | replace: ')', ''
        | replace: '"', ''
        | replace: "'", ''
        | replace: '&', ''
        | replace: '#', ''
        | replace: '{', ''
        | replace: '}', ''
        | replace: '<', ''
        | replace: '>', ''
      -%}
                    <a class="contact-social-media-button" href="https://api.whatsapp.com/send?phone={{ telephone }}"
                        target="_blank">
                        {%
          render 'icons',
          id: 'whatsapp'
        %}
                        <span>{{ 'contact.general.whatsapp' | t }}</span>
                    </a>
                    {% endif %}
                </div>
                {% endif %}













                <div class="form-vertical">
                    {% form 'contact' %}

                    {% if form.posted_successfully? %}
                    <div class="contact-message form-success">
                        <p>{{ 'contact.form.success' | t  }}</p>
                    </div>
                    {% else %}
                    <input type="hidden" name="contact[context]" value="{{ form_id }}">
                    {% if form.errors and form.context == form_id %}
                    <div class="contact-message form-errors">
                        {{ form.errors | default_errors }}
                    </div>
                    

                    {% assign email_error = false %}
                    {% if form.errors contains 'email' and form.context == form_id %}
                    {% assign email_error = true %}
                    {% endif %} {% else %} {% endif %}



                    <div class="form-element-wrapper form-element-wrapper-text">
                        {% assign name_attr = 'contact.form.name' | t | handle %}
                        <label for="ContactFormName"
                            class="hidden-label form-element-label">{{ 'contact.form.name' | t }}</label>
                        <div class="form-element-text">
                            <input type="text" id="ContactFormName" required class="input-full form-element input"
                                name="contact[{{ name_attr }}]" autocapitalize="words"
                                value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
                        </div>
                    </div>

                    <div class="form-element-wrapper form-element-wrapper-email">
                        <label for="ContactFormEmail"
                            class="hidden-label form-element-label">{{ 'contact.form.email' | t }}</label>
                        <div class="form-element-email">
                            <input type="email" required id="ContactFormEmail" class="input-full form-element input"
                                name="contact[email]" autocorrect="off" autocapitalize="off"
                                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                        </div>
                    </div>

                    <div class="form-element-wrapper form-element-wrapper-text">
                        {% assign name_attr = 'contact.form.phone' | t | handle %}
                        <label for="ContactFormPhone"
                            class="hidden-label form-element-label">{{ 'contact.form.phone' | t }}</label>
                        <div class="form-element-text">
                            <input type="tel" id="ContactFormPhone" required class="input-full form-element input"
                                name="contact[{{ name_attr }}]" pattern="[0-9\-]*"
                                value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                        </div>
                    </div>

                    <div class="form-element-wrapper form-element-wrapper-textarea">
                        <label for="ContactFormMessage"
                            class="hidden-label form-element-label">{{ 'contact.form.message' | t }}</label>
                        <div class="form-element-textarea">
                            <textarea rows="10" id="ContactFormMessage" required class="input-full form-element input"
                                name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                        </div>
                    </div>
                    <div class="form-element-wrapper form-element-wrapper-submit">
                        <div class="form-element-submit form-element-secondary">
                            <button class="form-element button" type="submit">Submit</button>
                        </div>
                    </div>
                    {% endform %}
                </div>

            </div>

        </div>
    </div>
</div>